PORT=3000
JWT_SECRET=super-secret-key-for-mcia

AUTH_SERVICE_URL=http://localhost:3001
REGISTRY_SERVICE_URL=http://localhost:3002
DEPENDENCY_SERVICE_URL=http://localhost:3003
CHANGE_SERVICE_URL=http://localhost:3004
IMPACT_SERVICE_URL=http://localhost:3005
NOTIFICATION_SERVICE_URL=http://localhost:3006
