PORT=3005
DATABASE_URL="postgresql://user:password@localhost:5432/impact_db?schema=public"
RABBITMQ_URL="amqp://localhost:5672"

# Downstream internal service URLs to fetch real graph data
DEPENDENCY_SERVICE_URL="http://localhost:3003"
REGISTRY_SERVICE_URL="http://localhost:3002"
